.Victory {
    height: 100vh;
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 50px;
}

.Replay-button {
  font-weight: 700;
  margin-top: 50px;
  color:darkblue;
  padding: 20px;
}

